@import './styles/colors.scss';
@import './styles/mixins.scss';

html, body, #root {
    margin: 0;
    height: 100%;
    font-family: 'Roboto', sans-serif;
    color: $light-gray;
}

#root {
    display: flex;
}

input {
    box-sizing: border-box;
    color: $light-gray;
    font-size: 15px;
    background-color: $secondary;
    border: none;
    border-bottom: 1px solid $dark-gray;
    outline: none;
    padding-left: 12px;

    &:hover:not(:disabled), &:focus:not(:disabled) {
        border-bottom-color: $light-gray;
        cursor: text;
    }

    &:disabled {
        color: #505153;
    }
}

// date picker
.MuiFormControl-root input {
    padding: 15px;
    color: $light-gray;
}

.nav-menu {
    padding: 125px 50px 30px 30px;
    background-color: $dark-blue;
    display: flex;
    flex-direction: column;
    align-items: baseline;

    > a {
        margin-bottom: 25px;
        color: #505153;
        text-decoration: none;
        padding: 0 0 0 10px;
        height: 40px;
        display: flex;
        align-items: center;

        &.active {
            color: $light-gray;
            border-left: 1px solid $light-gray;
        }
    }
}

.main-container {
    flex-grow: 1;
    background-color: $primary;
    display: flex;
    justify-content: center;
    overflow-y: auto;

    .wrapper {
        width: 70vw;
        display: flex;
        flex-direction: column;
        padding: 60px 30px 20px;
        overflow-y: auto;
    }
}

.info-container {
    background-color: #394252;
    padding: 25px 0;
    height: auto;
    text-align: center;
    border-radius: 10px;
    font-size: 30px;
}

// TODO use this for all containers
.container {
    background-color: #394252;
    height: auto;
    text-align: center;
    border-radius: 10px;
}

.notifications {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: flex;
    flex-direction: column;
    min-height: 50px;
    color: darkgray;

    @include centered-content();

    .notification {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 30px;
        background: $secondary;
        margin-bottom: 10px;
        border-radius: 8px;
        font-size: 14px;
    }

    .error-icon {
        margin-right: 10px;
        color: $dark-red;
    }

    .clear-icon {
        margin-left: 10px;

        &:hover {
            cursor: pointer;
            background-color: darken($secondary, 6%);
            border-radius: 8px;
        }
    }
}
