@import './styles/colors.scss';

html, body, #root {
    margin: 0;
    height: 100%;
    font-family: 'Roboto', sans-serif;
    color: #bcb7b7;
}

#root {
    display: flex;
}

.nav-menu {
    width: auto;
    padding: 30px;
    background-color: $dark-blue;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    padding-top: 125px;
    padding-right: 50px;

    > a {
        margin-bottom: 25px;
        color: #505153;
        text-decoration: none;
        padding: 0 0 0 10px;
        height: 40px;
        display: flex;
        align-items: center;

        &.active {
            color: white;
            border-left: 1px solid white;
        }
    }
}

.main-container {
    flex-grow: 1;
    height: 100%;
    background-color: #1D2838;
    display: flex;
    justify-content: center;
    overflow: auto;

    .wrapper {
        width: 1100px;
        display: flex;
        flex-direction: column;
        padding-top: 60px;
    }
}