@import '../styles/mixins.scss';
@import '../styles/colors.scss';

.create-contest-form {
    font-size: 15px;
    margin-top: 25px;
    padding: 25px;
    background-color: $secondary;
    height: auto;
    border-radius: 10px;

    label {
        width: 100%;
        text-align: left;
    }

    table.main-info-table { 
        width: 100%;

        input {
            width: 100%;
        }

        tr.empty {
            height: 30px;
        }

        td:nth-child(1), td:nth-child(3) {
            width: 15%;
        }

        td:nth-child(2), td:nth-child(4) {
            width: 30%;
            padding-right: 60px;
        }
    }

    .events-container {
        display: flex;
        margin: 20px 0 40px;

        .events-label {
            flex-basis: 20%;
        }

        .events-list {
            flex-grow: 1;
            display: flex;
            justify-content: baseline;
            flex-wrap: wrap;

            .event {
                flex-basis: 30%;
                color: $light-gray;

                > * {
                    display: inline-block;
                    background-color: #00ADB5;
                    border-radius: 8px;
                    padding: 3px 15px;
                }

                .event-name {
                    margin-right: 10px;
                }
            }
        }
    }

    .rounds-header {
        margin-bottom: 15px;

        > * {
            display: inline-block;
        }

        button.round-btn {
            margin-left: 15px;
        }
    }

    button.round-btn, button.round-btn {
        border: none;
        background-color: #BCB7B7;
        color: black;
        border-radius: 8px;
        width: 25px;
        height: 22px;
        display: flex;
        justify-content: center;
        align-items: center;

        &:disabled {
            background-color: #5f5f5f;
        }

        &:hover:not(:disabled) {
            background-color: lighten($color: #BCB7B7, $amount: 20);
            cursor: pointer;
        }
    }

    table.rounds-table {
        margin-bottom: 40px;
        border-collapse: collapse;

        tr.empty {
            height: 10px;
        }

        input {
            width: auto;
            margin-right: 10px;
        }

        tr.header-row {
            td:nth-child(1) {
                width: 100px;
            }

            td:nth-child(2) {
                width: auto;
            }
        }

        tr.round-row {
            padding-bottom: 10px;
            border-bottom: 1px solid #505153;
            height: 40px;

            td:nth-child(1) {
                width: 5%;
                padding: 5px 25px;
            }
        }

        tr td {
            > * {
                display: flex;
            }

            &:nth-child(2), &:nth-child(3), &:nth-child(4) {
                width: 16%;
            }

            &.empty {
                width: 20%;
            }
        }
    }

    .actions-container {
        display: flex;
        justify-content: space-between;
        // background-color: #2e335f;
        // background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='80' height='80' viewBox='0 0 80 80'%3E%3Cg fill='%23020307' fill-opacity='0.44'%3E%3Cpath fill-rule='evenodd' d='M0 0h40v40H0V0zm40 40h40v40H40V40zm0-40h2l-2 2V0zm0 4l4-4h2l-6 6V4zm0 4l8-8h2L40 10V8zm0 4L52 0h2L40 14v-2zm0 4L56 0h2L40 18v-2zm0 4L60 0h2L40 22v-2zm0 4L64 0h2L40 26v-2zm0 4L68 0h2L40 30v-2zm0 4L72 0h2L40 34v-2zm0 4L76 0h2L40 38v-2zm0 4L80 0v2L42 40h-2zm4 0L80 4v2L46 40h-2zm4 0L80 8v2L50 40h-2zm4 0l28-28v2L54 40h-2zm4 0l24-24v2L58 40h-2zm4 0l20-20v2L62 40h-2zm4 0l16-16v2L66 40h-2zm4 0l12-12v2L70 40h-2zm4 0l8-8v2l-6 6h-2zm4 0l4-4v2l-2 2h-2z'/%3E%3C/g%3E%3C/svg%3E");
    }

    // align autocomplete with other inputs
    .MuiAutocomplete-root .MuiInput-root {
        padding-left: 12px;
    }

    label.MuiInputLabel-root {
        padding-left: 12px;
    }
}
