@mixin info-container {
    background-color: #394252;
    padding: 25px 0;
    height: auto;
    text-align: center;
    border-radius: 10px;
    font-size: 30px;
}


@mixin centered-content {
    display: flex;
    justify-content: center;
    align-items: center;
}